.chatbox {
	position: fixed;
	position:expression("absolute");
	width: 260px;
	display:none;
	}

.chatboxhead {
	background:url(../cht_img/chat_head_bg.jpg) left top repeat-x;
	padding-left:10px;
	color: #ffffff;
	height:31px;
	border-right:0px solid #02223e;
	border-left:0px solid #02223e;
	border-radius:0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	text-transform:capitalize;
	font-weight:bold;
}

.chatboxhead img{
	border:1px solid #EBEBEB;
	background:#CCCCCC;
	margin-top:-0px;
	margin-right:5px;
	border-radius:2px;

}

.chatboxblink {
	background:url(../cht_img/chat_head_bg_blink.jpg) left top repeat-x;
	border-right:1px solid #b2000d;
	border-left:1px solid #b2000d;
}

.chatboxcontent {
	font-family: arial,sans-serif;
	font-size: 13px;
	color: #333333;
	height:200px;
	width:244px;
	overflow-y:auto;
	overflow-x:auto;
	padding:7px;
	border-left:1px solid #037798;
	border-right:1px solid #037798;
	border-bottom:0x solid #037798;
	background-color: #ffffff;
	line-height: 1.3em;
}

.chatboxinput {
	padding: 5px;
	background-color: #ffffff;
	border-left:1px solid #037798;
	border-right:1px solid #037798;
	border-bottom:1px solid #cccccc;
}

.chatboxtextarea {
	width: 240px;
	height:44px;
	padding:3px 0pt 3px 3px;
	border: 1px solid #CCCCCC;
	margin: 1px;
	overflow:hidden;
}

.chatboxtextareaselected {
	border: 2px solid #f99d39;
	margin:0;
}

.chatboxmessage {
	margin-left:1em;
}

.chatboxinfo {
	margin-left:-1em;
	color:#666666;

}

.chatboxmessagefrom {
	margin-left:-1em;
	font-weight: bold;
}

.chatboxmessagecontent {
}

.chatboxoptions {
	float: right;
}

.chatboxoptions a {
	text-decoration: none;
	color: white;
	font-weight:bold;
	font-family:Verdana,Arial,"Bitstream Vera Sans",sans-serif;
}

.chatboxtitle {
	float: left;
	padding-top:7px;
}

