@charset "utf-8";
/* CSS Document */

body{
	background:#edead9;
	margin:0px;
	padding:0px;
}

#fullbg{
	width:100%;
	background-color:#262175;
	height:169px;
}

#top_wrapper{
	background:url(../images/header_bg.png) left top no-repeat;
	width:1000px;
	margin:auto;
	padding:auto;
}

#header{
	background:url(../images/header_bg.png) left top no-repeat;
	width:1000px;
	height:500px;
	margin:auto;
	padding:auto;
}

#logo{
	float:left;
	margin-left:20px;
	margin-top:15px;
}

#menu{
	float:right;
	width:830px;
	margin-top:20px;
}

#comany{
	float:left;
	margin-top:45px;
}

#login{
	float:right;
	background:url(../images/log.bg.png) left top no-repeat;
	width:226px;
	height:204px;
	margin-top:5px;
}

.search_head{
		font-family:"Times New Roman", Times, serif;
		font-size:25px;
		font-weight:normal;
		color:#262175;
		padding-top:40px;
		padding-left:10px;
}

.name{
		font-family:Tahoma, Geneva, sans-serif;
		font-size:12px;
		color:#262175;
		padding-left:3px;
		font-weight:normal;
}

.search_test_field{
		width:150px;
		height:20px;
		border:1px solid #8c5710;
		font-family:Tahoma, Geneva, sans-serif;
		font-size:12px;
		color:#262175;
		background-color:#FFF;
}

a.forgot{
		font-family:Tahoma, Geneva, sans-serif;
		font-size:10px;
		font-weight:normal;
		color:#900;
		text-decoration:none;
}

a:hover.forgot{
		color:#0093dd;
		text-decoration:underline;
}

.submit{
		background-color:#e7e5e5;
		border:1px solid #313030;
		font-family:Tahoma, Geneva, sans-serif;
		font-size:10px;
		font-weight:normal;
		color:#000;
}

#box_design{
	float:left;
	margin-top:10px;
}

#clp{
	float:left;
	margin-left:17px;
}

#faf{
	float:left;
	margin-left:10px;
}

#gqd{
	float:left;
	margin-left:10px;
}

.clear{
	clear:both;
}

#banner{
	float:left;
	margin-top:10px;
}

#fullbody{
	width:100%;
	margin-top:10px;
}

#body_part{
	margin:auto;
	padding:auto;
	width:1000px;
}

#leftpart{
	float:left;
	width:712px;
}

.welcome{
	font-family:calibri, tahoma, arial;
	font-size:25px;
	font-weight:normal;
	color:#003;
	margin-left:40px;
	margin-top:-25px;
}

.inner_welcome{
	font-family:calibri, tahoma, arial;
	font-size:25px;
	font-weight:normal;
	color:#FFF;
	background-color:#0193de;
	padding:7px;
}

.content{
	font-family:calibri, tahoma, arial;
	font-size:13px;
	text-align:justify;
	line-height:22px;
	color:#333;
	padding-left:5px;
	padding-right:10px;
}

#rightpart{
	float:left;
	width:288px;
}

a.highlights{
		font-family:Tahoma, Geneva, sans-serif;
		font-size:12px;
		font-weight:normal;
		color:#003;
		text-decoration:none;
		line-height:25px;
}

a:hover.highlights{
		color:#0093dd;
		text-decoration:none;
}

.list_highlights{
	width:386px;
}

#box{
	float:left;
	width:712px;
}

#left_box{
	float:left;
	width:386px;
}

#right_box{
	float:right;
	margin-right:15px;
}

.award_reward{
	background:url(../images/award_reward.jpg) left top no-repeat;
	width:288px;
	height:32px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#FFF;
	padding-top:5px;
	padding-left:60px;
	text-transform:uppercase;
}

.height{
	height:9px;
}

.family{
	background:url(../images/family_solution.jpg) left top no-repeat;
	width:288px;
	height:32px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
	color:#FFF;
	padding-top:5px;
	padding-left:60px;
}

.pht_gly{
	background:url(../images/photo_gallery.jpg) left top no-repeat;
	width:288px;
	height:32px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
	color:#FFF;
	padding-top:5px;
}

.high{
	background:url(../images/highlights.jpg) left top no-repeat;
	width:388px;
	height:32px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
	color:#FFF;
	padding-top:5px;
}


#footer{
	margin:auto;
	padding:auto;
	width:1000px;
	background-color:#262175;
	height:55px;
	margin-top:20px;
}

.copyright{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	font-weight:bold;
	text-transform:capitalize;
	text-align:center;
	color:#FFFFFF;
	padding-top:-5px;
}

a.shift{
		font-family:Tahoma, Geneva, sans-serif;
		font-size:12px;
		font-weight:bold;
		color:#CCC;
		text-decoration:none;
		line-height:25px;
}

a:hover.shift{
		color:#09F;
		text-decoration:none;
}

#fotmenu{
	margin:auto;
	width:1000px;
	margin-left:60px;
	margin-top:-10px;
}

#inner_body{
	margin:auto;
	padding:auto;
	width:1000px;
	margin-top:30px;
}

#inner_left{
	float:left;
	width:300px;
}

#inner_right{
	float:left;
	width:700px;
}

.orn_inno{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:60px;
	color:#FFF;
	text-transform:uppercase;
	font-style:italic;
	text-align:center;
}