.navbar
{
text-align:left;

}  

.mainDiv
{
  width:200px;
}

.topItem
{
  font: bold 12px tahoma,verdana,sans-serif;
  letter-spacing: 0;
  background: url(../images/arrow-up-title.jpg) no-repeat 0 0;
  background-position:center center;
  background-repeat:no-repeat;
  border: none;
  width: 185px;
  height: 25px;
  color: #FFFFFF;
  cursor:pointer;
  padding-top:0px;
  text-indent:10px;
}

.topItemOver
{
  text-indent:10px;
  font: bold 12px tahoma,verdana,sans-serif;
  letter-spacing: 0;
  background: url("../images/arrow-up-title-on.jpg") no-repeat 0 0;
  background-position:center center;
  background-repeat:no-repeat;
  height: 25px;
  width: 185px;
  color: #333333;
  padding-top:0px;
  cursor:pointer;
}

.topItemClose
{
  text-indent:10px;
  font: bold 12px tahoma,verdana,sans-serif;
  letter-spacing: 0;
  background: url("../images/arrow-down-title.jpg") no-repeat 0 0;
  background-position:center center;
  background-repeat:no-repeat;
  height: 25px;
  width: 185px;
  color: #FFFFFF;
  cursor:pointer;
    padding-top:0px;
}


.topItemCloseOver
{
  text-indent:10px;
  font: bold 12px tahoma,verdana,sans-serif;
  letter-spacing: 0;
  background: url("../images/arrow-down-title-on.jpg") no-repeat 0 0;
  background-position:center center;
  background-repeat:no-repeat;
  height: 25px;
  width: 185px;
  color: #333333;
  cursor:pointer;
    padding-top:0px;
}



.dropMenu
{
  	
  background-color: #B6DEFC;


}

.subMenu
{
   display:block;
}

.subItem
{
    margin-top:2px;
   height:18px;
   font: 11px tahoma,verdana,sans-serif;	
   text-decoration:none;
   color: #215dc6;
   
}

.subItem a
{
   
   font: 13px tahoma,verdana,sans-serif;	 	
   text-decoration:none;
   color: #666666;
   font-weight:bold;
}

.subItemOver
{

   margin-top:2px;
   font: 11px tahoma,verdana,sans-serif;	  
   height:18px;
   color: #78d400;
}

.subItemOver  a
{
font: 13px tahoma,verdana,sans-serif;	

   text-decoration:underline;
   cursor:pointer;
   color: #333333;
   font-weight:bold;
}







