@charset "utf-8";
/* CSS Document */

ul,ol,li{border:0;outline:none;margin:0;padding:0;}
ul{list-style:none;}
#nav {box-shadow:1px 1px 1px rgba(0, 0, 0, .1);
-moz-box-shadow:1px 1px 1px rgba(0, 0, 0, .1);
-webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, .1);
border:1px solid #fff;border-radius:8px;-moz-border-radius:8px;
-webkit-border-radius:8px;background-image:-moz-linear-gradient(top, #e2dfcd, #e2dfcd);/* FF3.6 */ 
background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0, #e2dfcd),color-stop(1, #e2dfcd));/* Saf4+, Chrome */ 
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f4f4f4');/* IE6,IE7 */
 -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f4f4f4')";/* IE8 */ margin-bottom:3px;
 width:250px;
 
 }

#nav li a {
position:relative;display:block;
			padding:12px 0 11px 20px;
			font-size:16px;color:#000;
			text-decoration:none;font-family:'ColaborateThinRegular';
			font-size-adjust:0.49;-moz-transition:all 0.2s ease-out; /* FF3.7+ */ 
			-o-transition:all 0.2s ease-out; /* Opera 10.5 */ -webkit-transition:all 0.2s ease-out; /* Saf3.2+, Chrome */ 

}
#nav li a:hover, #nav li a.active {
background-image:-moz-linear-gradient(top, #ee3c09, #b90909);/* FF3.6 */
			 background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0, #ee3c09),color-stop(1, #b90909));/* Saf4+, Chrome */
			  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee3c09', endColorstr='#b90909');/* IE6,IE7 */ 
			  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee3c09', endColorstr='#b90909')";/* IE8 */
			   color:#fff;box-shadow:2px 2px 0 rgba(0, 0, 0, .1);-moz-box-shadow:2px 2px 0 rgba(0, 0, 0, .1);
			   -webkit-box-shadow:2px 2px 0 rgba(0, 0, 0, .1);
			   -webkit-border-top-right-radius:20px;
			   -moz-border-radius-topright:20px;
			   border-top-right-radius:20px;
			   -webkit-border-bottom-right-radius:20px;
			   -moz-border-radius-bottomright:20px;
			   border-bottom-right-radius:20px;
			   margin-right:-12px
}
#nav li ul {display: none;}
#nav li ul li a {
padding: 10px 25px; background: #f5f3e9; border-bottom: 1px dotted #ccc;
}
